.webdev-page {
  padding: 2rem;
  text-align: center;
}

.gig-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.gig-card {
  background: #fff;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 1rem;
  position: relative;
}

.gig-card img {
  width: 100%;
  border-radius: 8px;
}

.gig-card h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.tags {
  margin: 0.5rem 0;
}

.tag {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.75rem;
}

.gig-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.price {
  font-weight: bold;
  color: #2a9d8f;
}

.delivery {
  font-size: 0.75rem;
  color: gray;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #dfb8ef, #e9ccf4, #f3f0f4, #f3f0f4);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.top-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.strip-logo {
  height: 50px;
}

.navbar-desktop {
  display: flex;
  align-items: center;
}

.navbar-mobile {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1001;
  color: white;
  font-size: 24px;
}

.strip-nav {
  display: flex;
  list-style: none;
  gap: 25px;
  margin-left: auto;
  align-items: center;
}

.strip-nav li a {
  text-decoration: none;
  font-weight: 500;
  color: #572E54;
}

.strip-nav .signup {
  padding: 6px 14px;
  background-color: #ceb2bd;
  color: #572E54;
  border-radius: 5px;
  font-weight: bold;
}

.strip-nav .signup:hover {
  background-color: #572E54;
  color: #f5f4f4;
}
.mobile-nav {
  display: none;
  position: absolute;
  top: 65px;
  right: 20px;
  width: 80%;
  max-width: 250px;
  flex-direction: column;
  background-color: #572E54;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  z-index: 1000;
}

.mobile-nav.open {
  display: flex;
}

.mobile-nav li {
  margin-bottom: 12px;
  text-align: left;
}

.mobile-nav li a,
.mobile-nav .signup {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #E5D6DD;
  text-decoration: none;
}

.mobile-nav .signup {
  background-color: #ceb2bd;
  color: #572E54;
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
}

.mobile-nav .signup:hover {
  background-color: #ffffff;
  color: #572E54;
}
.gig-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}


