.user-menu {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #572E54;
  font-size: 1.2rem;
  border: 2px solid #572E54;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 150px;
}

.dropdown p {
  margin: 0;
  padding: 8px;
  color: black;
  cursor: pointer;
  font-weight: 500;
}

.dropdown button {
  margin-top: 8px;
  width: 100%;
  padding: 6px;
  background: #572E54;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
