/* General Reset and App Container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

/* Remove unnecessary animation and logo styles */
.App-logo,
.App-header,
.App-link {
  display: none;
}
