/* General Reset and App Container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden !important;
  touch-action: none;               
  -webkit-overflow-scrolling: auto;
  overscroll-behavior: none;       
}
.App-logo,
.App-header,
.App-link {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

.auth-modal-overlay {
  z-index: 1000 !important;
}
