/* src/views/HackathonPage.css */

.hackathon-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/images/bg1.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translucent-strip {
  background-color: rgba(255, 255, 255, 0.2); /* translucent background */
  backdrop-filter: blur(10px);
}

.hackathon-btn {
  padding: 18px 50px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  width: 300px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 10px transparent;
}

.hackathon-btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
  transform: scale(1.05);
  box-shadow: inset 0 0 0 2px black;
}
